html {

	height: 100%;
	padding: 0;
	margin: 0;

}

body {

	padding: 0;
	height: 100%;
	margin: 0;
	background-color: #d8d8d8;

}

main.panel {

	--header-height: 80px;
	--nav-width: 290px;

}


main.panel div.mat_hd {

	position: fixed;
	left: 0;
	top: 0;
	height: 240px;
	width: 100%;
	background-color: #18779f;
	z-index: 0;
	border-bottom: 1px solid #9a9a9a;

}

main.panel header {

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(var(--header-height) - 1px);
	z-index: 10;

}

main.panel header h1 {

	padding: 0;
	margin: 0;
	font-size: 35px;
	color: #e2e2e2;
	text-indent: 20px;
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	position: relative;
	line-height: 70px;

}

main.panel header div.cog {

	position: absolute;
	top: 15px;
	height: 50px;
	width: 50px;
	right: 15px;
	display: block;
	border-radius: 100%;

	background-image: url('../img/settings-white-48dp.svg');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;

}

main.panel header div.cog:hover {

	cursor: pointer;

}

main.panel header div.cog:before {
	
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	transition: transform 250ms;
	transform: scale(0, 0);

}

main.panel header div.cog:hover:before {

	transform: scale(1, 1);

}

main.panel header div.pill {

	position: absolute;
	right: 15px;
	top: 15px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-indent: 20px;
	width: 150px;
	border-radius: 50px;
	font-family: 'Mukta', sans-serif;
	font-size: 22px;
	pointer-events: none;

}

main.panel header h1:before {

	content: "";
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100%;
	top: calc(100% - 21px);
	opacity: 0.2;

}

main.panel header h1:after {

	content: "";
	position: absolute;
	left: 40px;
	width: 250px;
	height: 15px;
	background-color: #f2f2f2;
	border-radius: 20px;
	top: calc(100% - 18px);
	opacity: 0.2;

}

main.panel header h1 b {

	color: #fff;
	font-weight: 400;

}

main.panel div.mat_bg {

	width: calc(100% - var(--nav-width));
	height: calc(100% - var(--header-height));
	right: 0;
	bottom: 0;
	background-color: #fff;
	position: fixed;
	border-top-left-radius: 20px;
	z-index: 1;
	box-shadow: inset 1px 1px 5px 0px rgba(92,92,92,1);

}

main.panel section {

	width: calc(100% - var(--nav-width));
	height: calc(100% - var(--header-height));
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 10;
	overflow-y: auto;

}

main.panel section:before {

	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 20px);
	box-shadow: 1px 1px 5px 0px rgba(92,92,92,1);
	z-index: 12;
	height: 1px;

}

main.panel section article {
	
	height: 500px;
	width: 1024px;
	display: block;
	margin: 20px auto;
	transition: opacity 200ms;
	border-radius: 10px;
	background-color: #e2e2e2;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

main.panel section article.hide {

	display: none;

}

main.panel nav {

	position: fixed;
	left: 0;
	top: var(--header-height);
	height: calc(100% - var(--header-height));
	width: var(--nav-width);

}

main.panel div.profile {

	width: 100%;
	height: 160px;
	position: relative;

}

main.panel div.profile div.avatar {

	position: absolute;
	left: 20px;
	top: 50px;
	width: 54px;
	height: 54px;
	border: 2px solid #4490b0;
	border-radius: 100%;
	background-color: #fff;

}

main.panel div.profile div.avatar.admin {

	background-image: url('../img/shipGreen_manned.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;

}

main.panel div.profile div.name {

	font-size: 22px;
	color: #fff;
	font-family: 'Mukta', sans-serif;
	position: absolute;
	left: 90px;
	top: 50px;

}

main.panel div.profile div.title {

	font-size: 16px;
	color: #d8d8d8;
	font-family: 'Mukta', sans-serif;
	position: absolute;
	left: 90px;
	top: 75px;

}

main.panel div.menu {

	width: calc(100% - 20px);
	padding: 20px 10px;

}

main.panel div.menu li {

	list-style: none;
	border: 2px solid #333;
	border-radius: 8px;
	padding: 8px 0;
	color: #333;
	width: calc(100% - 4px);
	text-indent: 20px;
	font-family: 'Mukta', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	position : relative;
	overflow: hidden;

}

main.panel div.menu li:hover {

	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

main.panel div.menu li:before {

	content: "";
	display: block;
	position: absolute;
	width: 400px;
	height: 400px;
	right: -80px;
	top: -130px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 100%;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transform: scale(0, 0);

}

main.panel div.menu li.active:before {

	transform: scale(1, 1);

}

main.panel section article h2 {

	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 60px;
	position: relative;
	color: #333;
	font-family: 'Mukta', sans-serif;
	letter-spacing: 1px;

}

main.panel section article h2 span {

	margin-top: -4px;
	padding-top: 4px;
	background-color: #fff;
	display: block;
	margin: auto;
	width: 300px;
	text-align: center;

}

main.panel section article div.employees {

	width: 90%;
	display: block;
	margin: 40px auto;

}

main.panel section article div.employees li.thead {

	list-style: none;
	width: calc(100% - 2px);
	border: 1px solid #333;
	height: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	margin: auto;
	background-color: #f8f8f8;

}

main.panel section article div.employees li.thead table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 16px;
	color: #18779f;
	font-family: 'Mukta', sans-serif;
	text-align: center;

}

main.panel section article div.add {

	position: fixed;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	bottom: 10px;
	right: 10px;
	background-color: #ed4681;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
	background-image: url('../img/add-white-48dp.svg');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;

}

main.panel section article div.add:hover {

	cursor: pointer;

}
